/*************************** Fonts ***************************/

@font-face {
	font-family: SourceCodePro-Light;
	src: url(Fonts/SourceCodePro-Light.ttf);
}

@font-face {
	font-family: SourceCodePro-ExtraLight;
	src: url(Fonts/SourceCodePro-ExtraLight.ttf);
}

/*************************** Tags ***************************/

body {
	margin: 0;
}

h1 {
	color: white;
	font-family: SourceCodePro-Light; 
	font-size: 3em;
	opacity: 100;
}

h2 {
	color: white;
	font-family: SourceCodePro-Light; 
	font-size: 2em;
	padding-top: 15vh;
	text-align: center;
}

h3 {
	color: white;
	font-family: SourceCodePro-Light; 
	font-size: 1em;
	text-align: center;
}

p {
	font-family: SourceCodePro-ExtraLight;
	font-size: .8em;
	line-height: 6.5mm;
	margin: 0;
	padding-top: 20vh;
	text-align: center;
	
} 

table {
	align-items: center;
	display: flex;
	height: 10vh;
	justify-content: center;
	margin: 0;
	text-align: center;
}

/*************************** Classes ***************************/
.bg_blue {
	background-color:#a8d0e6;
}

.bg_colbalt {
	background-color:rgba(55, 71, 133, 0.97);
}

.bg_dblue {
	background-color:rgba(31, 44, 94, 1);
}

.bg_red {
	background-color:#f76c6c;
}

.bg_yellow {
	background-color:#f8e9a1;
}

.container {
		align-items: center;
		border-radius: 27px;
		display: flex;
		height: 17vh;
		justify-content: center;
		margin-left: 20.7%;
		margin-top: 10%;
		position: absolute;
		text-align: center;
		width: 60vw;
}

.hero {
	background: url("Imgs/rocket.png") left, top, no-repeat;
	background-color:#f76c6c;
	background-size: 9vw 9vw;
	height: 65vh;
	position: relative;
	width: 100vw;
}

.icon {
	width: 15vw;
}

.left_icon {
	padding-left: 10vw;
	padding-top: 15vh;
	position: absolute;
}

.left_textarea {
	margin-bottom: 30px;
	margin-top: 0px;
	padding-left: 5vw;
	position: absolute;
	width: 40vw;
}

.right_icon {
	padding-left: 70vw;
	padding-top: 15vh;
	position: absolute;
}

.right_textarea {
	margin-bottom: 30px;
	margin-top: 0px;
	padding-left: 50vw;
	position: absolute;
	width: 40vw;
}

.sub {
	height: 85vh;
	position: relative;
}

.txt_dark {
	color: #24305e;
}

.txt_light {
	color: white;
}
