/*************************** Fonts ***************************/

@font-face {
	font-family: SourceCodePro-Light;
	src: url(Fonts/SourceCodePro-Light.ttf);
}

@font-face {
	font-family: SourceCodePro-ExtraLight;
	src: url(Fonts/SourceCodePro-ExtraLight.ttf);
}

/*************************** Tags ***************************/

body {
	background-color:#B0C8CC;
	margin: 0px;
}

h1 {
	color: white;
	font-family: SourceCodePro-Light; 
	font-size: 50px;
	margin: 0;
	width: 75%;
}

h2 {
	color: white;
	font-family: SourceCodePro-Light; 
	font-size: 24px;
	margin-bottom: 20px;
	margin-top: 0px;
	width: 65%;
}

p {
	color: #2C2C2C;
	font-family: SourceCodePro-ExtraLight;
	font-size: 14px;
	line-height: 6.5mm;
	margin: 0px;
	width: 85%;
} 

/*************************** Classes ***************************/

.blue {
	background-color:#c3cfd6;
}

.border_left {
	background-color:#B0C8CC;
	position: relative;
	height: 25%;
	width: 25%;
	left: 0px;
}

.border_right {
	background-color:#B0C8CC;
	position: relative;
	height: 25%;
	width: 25%;
	left: 75%;
}

.dgrey {
	background-color:#9B9AA0;
}

.green {
	background-color:#bcd1c7;
}

.lgrey {
	background-color:#DAD5D1;
}

.red {
	background-color:#DBC5C0;
}

.subsection {
	margin: 0px;
	padding: 20px 0px;
}

.yellow {
	background-color:#E0D3BB;
}

